<h3>Breadcumbs</h3>

<VilmaBreadcrumb>
    <Items>
        <VilmaBreadcrumbItem LinkText="Home" LinkUrl="#" />
        <VilmaBreadcrumbItem LinkText="Library" LinkUrl="#" />
        <VilmaBreadcrumbItem LinkText="Data" SetAsActive="true" />
    </Items>
</VilmaBreadcrumb>

<VilmaBreadcrumb Divider="@_divSvg">
    <Items>
        <VilmaBreadcrumbItem LinkText="Home" LinkUrl="#" />
        <VilmaBreadcrumbItem LinkText="Library" LinkUrl="#" />
        <VilmaBreadcrumbItem LinkText="Data" SetAsActive="true" />
    </Items>
</VilmaBreadcrumb>

<VilmaBreadcrumb DividerIcon="Icons.Play" DividerIconWidth="28" DividerIconHeight="28">
    <Items>
        <VilmaBreadcrumbItem LinkText="Home" LinkUrl="#" />
        <VilmaBreadcrumbItem LinkText="Library" LinkUrl="#" />
        <VilmaBreadcrumbItem LinkText="Data" SetAsActive="true" />
    </Items>
</VilmaBreadcrumb>

@code {
    private string _divSvg = """<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" /></svg>""";
}
