<h3>Icons</h3>

<div>
    <VilmaIcon Icon="Icons.Airplane" />
    <VilmaIcon Icon="Icons.Airplane" IconWidth="32" IconHeight="32" />
    <VilmaIcon Icon="Icons.Airplane" IconWidth="48" IconHeight="48" ColorScheme="ColorScheme.Success" />
</div>
<div class="mt-3">
    <VilmaIcon Icon="Icons.Bootstrap" />
    <VilmaIcon Icon="Icons.Bootstrap" IconWidth="32" IconHeight="32" />
    <VilmaIcon Icon="Icons.Bootstrap" IconWidth="48" IconHeight="48" ColorScheme="ColorScheme.Info" />
</div>

@code {

}
