<h3>Navs</h3>

<VilmaNavControl>
    <NavItems>
        <VilmaNavItem>
            <ContentTemplate>
                <span>Item 1</span>
            </ContentTemplate>
        </VilmaNavItem>
        <VilmaNavItem>
            <ContentTemplate>
                <span>Item 2</span>
            </ContentTemplate>
        </VilmaNavItem>
        <VilmaNavItem>
            <ContentTemplate>
                <span>Item 3</span>
            </ContentTemplate>
        </VilmaNavItem>
    </NavItems>
</VilmaNavControl>

<VilmaNavControl ControlCss="mt-4" ColorMode="ColorMode.Dark">
    <NavItems>
        <VilmaNavItem>
            <ContentTemplate>
                <span>Item 1</span>
            </ContentTemplate>
        </VilmaNavItem>
        <VilmaNavItem>
            <ContentTemplate>
                <span>Item 2</span>
            </ContentTemplate>
        </VilmaNavItem>
        <VilmaNavItem>
            <ContentTemplate>
                <span>Item 3</span>
            </ContentTemplate>
        </VilmaNavItem>
    </NavItems>
</VilmaNavControl>

@code {

}
