:root,
[data-bs-theme=light] {
  --vb-primary: var(--bs-primary);
  --vb-primary-bg-subtle: var(--bs-primary-bg-subtle);
  --vb-nav-tree-link-active-color: var(--bs-white);
  --vb-nav-tree-link-active-bg: var(--bs-primary);
  --vb-nav-tree-link-hover: var(--bs-primary-bg-subtle);
}

.vb-btn-unstyled {
  background-color: transparent;
  border-width: 0;
  padding: 0;
}

.vb-treeitem-container {
  display: inline-block;
  overflow: auto;
}

.vb-treeitem-label-text {
  line-height: 1.85;
  white-space: nowrap;
}

.vb-treeitem-icon-placeholder {
  width: 17.74px;
  height: 16px;
}

.vb-treeitem-label {
  padding: 0 0.5rem;
  border: hidden;
  border-radius: 5px;
  cursor: pointer;
}
.vb-treeitem-label:hover {
  background-color: var(--vb-nav-tree-link-hover);
}

.vb-treeitem-label.active {
  background-color: var(--vb-nav-tree-link-active-bg);
  color: var(--vb-nav-tree-link-active-color);
}
