<h3>Badges</h3>

<h3>Example heading <VilmaBadge Content="New" ColorScheme="ColorScheme.Danger" /></h3>
<h3>Example heading <VilmaBadge Content="New" ColorScheme="ColorScheme.Dark" /></h3>
<h3>Example heading <VilmaBadge Content="New" ColorScheme="ColorScheme.Info" /></h3>
<h3>Example heading <VilmaBadge Content="New" ColorScheme="ColorScheme.Light" /></h3>
<h3>Example heading <VilmaBadge Content="New" ColorScheme="ColorScheme.None" /></h3>
<h3>Example heading <VilmaBadge Content="New" ColorScheme="ColorScheme.Primary" /></h3>
<h3>Example heading <VilmaBadge Content="New" ColorScheme="ColorScheme.Secondary" /></h3>
<h3>Example heading <VilmaBadge Content="New" ColorScheme="ColorScheme.Success" /></h3>
<h3>Example heading <VilmaBadge Content="New" ColorScheme="ColorScheme.Warning" /></h3>

<VilmaBadge Content="Danger" ColorScheme="ColorScheme.Danger" RoundedPill="true"/>
<VilmaBadge Content="Dark" ColorScheme="ColorScheme.Dark" RoundedPill="true"/>
<VilmaBadge Content="Info" ColorScheme="ColorScheme.Info" RoundedPill="true"/>
<VilmaBadge Content="Light" ColorScheme="ColorScheme.Light" RoundedPill="true"/>
<VilmaBadge Content="None" ColorScheme="ColorScheme.None" RoundedPill="true"/>
<VilmaBadge Content="Primary" ColorScheme="ColorScheme.Primary" RoundedPill="true"/>
<VilmaBadge Content="Secondary" ColorScheme="ColorScheme.Secondary" RoundedPill="true"/>
<VilmaBadge Content="Success" ColorScheme="ColorScheme.Success" RoundedPill="true"/>
<VilmaBadge Content="Warning" ColorScheme="ColorScheme.Warning" RoundedPill="true"/>

@code {
    
}
