<h3>Dropdown</h3>

<div class="hstack gap-3">
    <VilmaDropdown Text="Primary" ColorScheme="ColorScheme.Primary">
        <Items>
            <VilmaDropdownLink Href="#" Text="Item 1" />
            <VilmaDropdownLink Href="#" Text="Item 2" />
            <VilmaDropdownDivider />
            <VilmaDropdownLink Href="#" Text="Disabled" Disabled="true" />
            <VilmaDropdownLink Href="#" Text="Item 4" />
        </Items>
    </VilmaDropdown>
    <VilmaDropdown Text="Secondary" ColorScheme="ColorScheme.Secondary">
        <Items>
            <VilmaDropdownLink Href="#" Text="Item 1" />
            <VilmaDropdownLink Href="#" Text="Item 2" />
            <VilmaDropdownDivider />
            <VilmaDropdownLink Href="#" Text="Disabled" Disabled="true" />
            <VilmaDropdownLink Href="#" Text="Item 4" />
        </Items>
    </VilmaDropdown>
    <VilmaDropdown Text="Success" ColorScheme="ColorScheme.Success">
        <Items>
            <VilmaDropdownLink Href="#" Text="Item 1" />
            <VilmaDropdownLink Href="#" Text="Item 2" />
            <VilmaDropdownDivider />
            <VilmaDropdownLink Href="#" Text="Disabled" Disabled="true" />
            <VilmaDropdownLink Href="#" Text="Item 4" />
        </Items>
    </VilmaDropdown>
    <VilmaDropdown Text="Info" ColorScheme="ColorScheme.Info">
        <Items>
            <VilmaDropdownLink Href="#" Text="Item 1" />
            <VilmaDropdownLink Href="#" Text="Item 2" />
            <VilmaDropdownDivider />
            <VilmaDropdownLink Href="#" Text="Disabled" Disabled="true" />
            <VilmaDropdownLink Href="#" Text="Item 4" />
        </Items>
    </VilmaDropdown>
    <VilmaDropdown Text="Warning" ColorScheme="ColorScheme.Warning">
        <Items>
            <VilmaDropdownLink Href="#" Text="Item 1" />
            <VilmaDropdownLink Href="#" Text="Item 2" />
            <VilmaDropdownDivider />
            <VilmaDropdownLink Href="#" Text="Disabled" Disabled="true" />
            <VilmaDropdownLink Href="#" Text="Item 4" />
        </Items>
    </VilmaDropdown>
    <VilmaDropdown Text="Danger" ColorScheme="ColorScheme.Danger">
        <Items>
            <VilmaDropdownLink Href="#" Text="Item 1" />
            <VilmaDropdownLink Href="#" Text="Item 2" />
            <VilmaDropdownDivider />
            <VilmaDropdownLink Href="#" Text="Disabled" Disabled="true" />
            <VilmaDropdownLink Href="#" Text="Item 4" />
        </Items>
    </VilmaDropdown>
</div>

<div class="hstack gap-3 mt-3">
    <VilmaDropdown Text="Small button" ColorScheme="ColorScheme.Secondary" Size="Sizes.Small">
        <Items>
            <VilmaDropdownLink Href="#" Text="Item 1" />
            <VilmaDropdownLink Href="#" Text="Item 2" />
            <VilmaDropdownDivider />
            <VilmaDropdownLink Href="#" Text="Disabled" Disabled="true" />
            <VilmaDropdownLink Href="#" Text="Item 4" />
        </Items>
    </VilmaDropdown>
    <VilmaDropdown Text="Normal button" ColorScheme="ColorScheme.Secondary" Size="Sizes.Normal">
        <Items>
            <VilmaDropdownLink Href="#" Text="Item 1" />
            <VilmaDropdownLink Href="#" Text="Item 2" />
            <VilmaDropdownDivider />
            <VilmaDropdownLink Href="#" Text="Disabled" Disabled="true" />
            <VilmaDropdownLink Href="#" Text="Item 4" />
        </Items>
    </VilmaDropdown>
    <VilmaDropdown Text="Large button" ColorScheme="ColorScheme.Secondary" Size="Sizes.Large">
        <Items>
            <VilmaDropdownLink Href="#" Text="Item 1" />
            <VilmaDropdownLink Href="#" Text="Item 2" />
            <VilmaDropdownDivider />
            <VilmaDropdownLink Href="#" Text="Disabled" Disabled="true" />
            <VilmaDropdownLink Href="#" Text="Item 4" />
        </Items>
    </VilmaDropdown>
</div>

<div class="hstack gap-3 mt-3">
    <VilmaDropdown Text="Color mode light" ColorScheme="ColorScheme.Secondary">
        <Items>
            <VilmaDropdownLink Href="#" Text="Item 1" />
            <VilmaDropdownLink Href="#" Text="Item 2" />
            <VilmaDropdownDivider />
            <VilmaDropdownLink Href="#" Text="Disabled" Disabled="true" />
            <VilmaDropdownLink Href="#" Text="Item 4" />
        </Items>
    </VilmaDropdown>
    <VilmaDropdown Text="Color mode dark" ColorScheme="ColorScheme.Secondary" ColorMode="ColorMode.Dark">
        <Items>
            <VilmaDropdownLink Href="#" Text="Item 1" />
            <VilmaDropdownLink Href="#" Text="Item 2" />
            <VilmaDropdownDivider />
            <VilmaDropdownLink Href="#" Text="Disabled" Disabled="true" />
            <VilmaDropdownLink Href="#" Text="Item 4" />
        </Items>
    </VilmaDropdown>
</div>

<div class="hstack gap-3 mt-3">
    <VilmaDropdown Text="Dropdown menu" ColorScheme="ColorScheme.Secondary">
        <Items>
            <VilmaDropdownLink Href="#" Text="Item 1" />
            <VilmaDropdownLink Href="#" Text="Item 2" />
            <VilmaDropdownDivider />
            <VilmaDropdownLink Href="#" Text="Disabled" Disabled="true" />
            <VilmaDropdownLink Href="#" Text="Item 4" />
        </Items>
    </VilmaDropdown>
    <VilmaDropdown Text="Dropdown menu centered" ColorScheme="ColorScheme.Secondary" Direction="DropdownDirections.DownCentered">
        <Items>
            <VilmaDropdownLink Href="#" Text="Item 1" />
            <VilmaDropdownLink Href="#" Text="Item 2" />
            <VilmaDropdownDivider />
            <VilmaDropdownLink Href="#" Text="Disabled" Disabled="true" />
            <VilmaDropdownLink Href="#" Text="Item 4" />
        </Items>
    </VilmaDropdown>
    <VilmaDropdown Text="Dropup menu" ColorScheme="ColorScheme.Secondary" Direction="DropdownDirections.Up">
        <Items>
            <VilmaDropdownLink Href="#" Text="Item 1" />
            <VilmaDropdownLink Href="#" Text="Item 2" />
            <VilmaDropdownDivider />
            <VilmaDropdownLink Href="#" Text="Disabled" Disabled="true" />
            <VilmaDropdownLink Href="#" Text="Item 4" />
        </Items>
    </VilmaDropdown>
    <VilmaDropdown Text="Dropup menu centered" ColorScheme="ColorScheme.Secondary" Direction="DropdownDirections.UpCentered">
        <Items>
            <VilmaDropdownLink Href="#" Text="Item 1" />
            <VilmaDropdownLink Href="#" Text="Item 2" />
            <VilmaDropdownDivider />
            <VilmaDropdownLink Href="#" Text="Disabled" Disabled="true" />
            <VilmaDropdownLink Href="#" Text="Item 4" />
        </Items>
    </VilmaDropdown>
    <VilmaDropdown Text="Dropend menu" ColorScheme="ColorScheme.Secondary" Direction="DropdownDirections.End">
        <Items>
            <VilmaDropdownLink Href="#" Text="Item 1" />
            <VilmaDropdownLink Href="#" Text="Item 2" />
            <VilmaDropdownDivider />
            <VilmaDropdownLink Href="#" Text="Disabled" Disabled="true" />
            <VilmaDropdownLink Href="#" Text="Item 4" />
        </Items>
    </VilmaDropdown>
    <VilmaDropdown Text="Dropstart menu" ColorScheme="ColorScheme.Secondary" Direction="DropdownDirections.Start">
        <Items>
            <VilmaDropdownLink Href="#" Text="Item 1" />
            <VilmaDropdownLink Href="#" Text="Item 2" />
            <VilmaDropdownDivider />
            <VilmaDropdownLink Href="#" Text="Disabled" Disabled="true" />
            <VilmaDropdownLink Href="#" Text="Item 4" />
        </Items>
    </VilmaDropdown>
</div>

<div class="hstack gap-3 mt-3">
    <VilmaDropdown>
        <ButtonTemplate>
            <div class="hstack gap-3 border border-danger border-3 rounded px-4 py-1 shadow">
                <VilmaIcon Icon="Icons.DropletFill" IconWidth="28" IconHeight="28" ColorScheme="ColorScheme.Primary" />
                <p class="m-0"><strong>Custom button</strong></p>
            </div>
        </ButtonTemplate>
        <Items>
            <VilmaDropdownLink Href="#" Text="Item 1" />
            <VilmaDropdownLink Href="#" Text="Item 2" />
            <VilmaDropdownDivider />
            <VilmaDropdownLink Href="#" Text="Disabled" Disabled="true" />
            <VilmaDropdownLink Href="#" Text="Item 4" />
        </Items>
    </VilmaDropdown>

    <VilmaDropdown>
        <ButtonTemplate>
            <div class="border border-primary border-3 rounded-circle shadow">
                <img class="rounded-circle" src="/images/428-4287240_no-avatar-user-circle-icon-png.png" width="64" />
            </div>
        </ButtonTemplate>
        <Items>
            <VilmaDropdownHeader Text="User Name" />
            <VilmaDropdownLink Href="#" Text="Profile" />
            <VilmaDropdownLink Href="#" Text="Options" />
            <VilmaDropdownDivider />
            <VilmaDropdownLink Href="#" Text="Logout" />
        </Items>
    </VilmaDropdown>
</div>

<div class="hstack gap-3 mt-3">
    <VilmaDropdown Text="Dropdown menu with custom items" ColorScheme="ColorScheme.Secondary">
        <Items>
            <VilmaDropdownHeader Text="Browsers" />
            <VilmaDropdownLink Href="#">
                <TextTemplate>
                    <div class="hstack gap-2">
                        <VilmaIcon Icon="Icons.BrowserChrome" IconHeight="20" IconWidth="20" />
                        <span>Chrome</span>
                    </div>
                </TextTemplate>
            </VilmaDropdownLink>
            <VilmaDropdownLink Href="#">
                <TextTemplate>
                    <div class="hstack gap-2">
                        <VilmaIcon Icon="Icons.BrowserEdge" IconHeight="20" IconWidth="20" />
                        <span>Edge</span>
                    </div>
                </TextTemplate>
            </VilmaDropdownLink>
            <VilmaDropdownLink Href="#">
                <TextTemplate>
                    <div class="hstack gap-2">
                        <VilmaIcon Icon="Icons.BrowserFirefox" IconHeight="20" IconWidth="20" />
                        <span>Firefox</span>
                    </div>
                </TextTemplate>
            </VilmaDropdownLink>
            <VilmaDropdownLink Href="#">
                <TextTemplate>
                    <div class="hstack gap-2">
                        <VilmaIcon Icon="Icons.BrowserSafari" IconHeight="20" IconWidth="20" />
                        <span>Safari</span>
                    </div>
                </TextTemplate>
            </VilmaDropdownLink>
        </Items>
    </VilmaDropdown>
</div>

<div class="hstack gap-3 mt-3">
    <VilmaDropdown Text="Default dropdown behavior" ColorScheme="ColorScheme.Secondary">
        <Items>
            <VilmaDropdownLink Href="#" Text="Item 1" />
            <VilmaDropdownLink Href="#" Text="Item 2" />
            <VilmaDropdownDivider />
            <VilmaDropdownLink Href="#" Text="Disabled" Disabled="true" />
            <VilmaDropdownLink Href="#" Text="Item 4" />
        </Items>
    </VilmaDropdown>
    <VilmaDropdown Text="Dropdown clickable inside" ColorScheme="ColorScheme.Secondary" CloseBehavior="DropdownAutoClose.ClickableInside">
        <Items>
            <VilmaDropdownLink Href="#" Text="Item 1" />
            <VilmaDropdownLink Href="#" Text="Item 2" />
            <VilmaDropdownDivider />
            <VilmaDropdownLink Href="#" Text="Disabled" Disabled="true" />
            <VilmaDropdownLink Href="#" Text="Item 4" />
        </Items>
    </VilmaDropdown>
    <VilmaDropdown Text="Dropdown clickable outside" ColorScheme="ColorScheme.Secondary" CloseBehavior="DropdownAutoClose.ClickableOutside">
        <Items>
            <VilmaDropdownLink Href="#" Text="Item 1" />
            <VilmaDropdownLink Href="#" Text="Item 2" />
            <VilmaDropdownDivider />
            <VilmaDropdownLink Href="#" Text="Disabled" Disabled="true" />
            <VilmaDropdownLink Href="#" Text="Item 4" />
        </Items>
    </VilmaDropdown>
    <VilmaDropdown Text="Dropdown manual" ColorScheme="ColorScheme.Secondary" CloseBehavior="DropdownAutoClose.Manual">
        <Items>
            <VilmaDropdownLink Href="#" Text="Item 1" />
            <VilmaDropdownLink Href="#" Text="Item 2" />
            <VilmaDropdownDivider />
            <VilmaDropdownLink Href="#" Text="Disabled" Disabled="true" />
            <VilmaDropdownLink Href="#" Text="Item 4" />
        </Items>
    </VilmaDropdown>
</div>

<div class="hstack gap-3 mt-3">
    <VilmaDropdown Text="Custom offset" ColorScheme="ColorScheme.Secondary" MenuOffset="@((20,20))">
        <Items>
            <VilmaDropdownHeader Text="Header" />
            <VilmaDropdownLink Href="#" Text="Item 1" />
            <VilmaDropdownLink Href="#" Text="Item 2" />
            <VilmaDropdownDivider />
            <VilmaDropdownLink Href="#" Text="Disabled" Disabled="true" />
            <VilmaDropdownLink Href="#" Text="Item 4" />
            <VilmaDropdownDivider />
            <VilmaDropdownText Text="This is an item with only text" />
            <VilmaDropdownForm CssClasses="px-4 py-3">
                <FormTemplate>
                    <div class="mb-3">
                        <label for="exampleDropdownFormEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
                    </div>
                </FormTemplate>
            </VilmaDropdownForm>
        </Items>
    </VilmaDropdown>
</div>

<div class="hstack gap-3 mt-3">
    <VilmaButtonGroup>
        <Buttons>
            <VilmaButton Content="Splitted button" ColorScheme="ColorScheme.Primary" />
            <VilmaDropdown Text="Custom offset" ColorScheme="ColorScheme.Primary" MenuOffset="@((20,20))">
                <Items>
                    <VilmaDropdownHeader Text="Header" />
                    <VilmaDropdownLink Href="#" Text="Item 1" />
                    <VilmaDropdownLink Href="#" Text="Item 2" />
                    <VilmaDropdownDivider />
                    <VilmaDropdownLink Href="#" Text="Disabled" Disabled="true" />
                    <VilmaDropdownLink Href="#" Text="Item 4" />
                    <VilmaDropdownDivider />
                    <VilmaDropdownText Text="This is an item with only text" />
                    <VilmaDropdownForm CssClasses="px-4 py-3">
                        <FormTemplate>
                            <div class="mb-3">
                                <label for="exampleDropdownFormEmail1" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
                            </div>
                        </FormTemplate>
                    </VilmaDropdownForm>
                </Items>
            </VilmaDropdown>
        </Buttons>
    </VilmaButtonGroup>
</div>

@code {

}
