@using Vilma.Blazor.Common.FileUploader;
@using Vilma.Blazor.Components.FileUploader.LocalStorage.Client;
@inject IConfiguration _config

<h3>File Uploads</h3>

<VilmaFileUploader Label="Select a file" UploaderConfigurationPath="Global" />

@code {
    protected override void OnInitialized()
    {
        
    }

    protected override void OnParametersSet()
    {
        
    }
}
