<h3>Inputs</h3>

<div class="mt-3">
    <VilmaBaseInput InputType="InputTypes.Text" Label="Text input" InputCssClasses="mb-3" />
    <VilmaBaseInput InputType="InputTypes.Color" Label="Color input" InputCssClasses="mb-3" />
    <VilmaBaseInput InputType="InputTypes.Date" Label="Date input" InputCssClasses="mb-3" />
    <VilmaBaseInput InputType="InputTypes.DateTimeLocal" Label="Date Time Local input" InputCssClasses="mb-3" />
    <VilmaBaseInput InputType="InputTypes.Email" Label="Email input" InputCssClasses="mb-3" />
    <VilmaFileInput Label="File input" InputCssClasses="mb-3" />
    <VilmaBaseInput InputType="InputTypes.Month" Label="Month input" InputCssClasses="mb-3" />
    <VilmaBaseInput InputType="InputTypes.Number" Label="Number input" InputCssClasses="mb-3" MaxNumber="10" MinNumber="-10" StepNumber="2" />
    <VilmaBaseInput InputType="InputTypes.Time" Label="Time input" InputCssClasses="mb-3" />
    <VilmaBaseInput InputType="InputTypes.Url" Label="Url input" InputCssClasses="mb-3" />
    <VilmaBaseInput InputType="InputTypes.Week" Label="Week input" InputCssClasses="mb-3" />
</div>

@code {

}
