<h3>Navs</h3>

<VilmaNavControl>
    <NavItems>
        <VilmaNavLinkItem Active="true">
            <ContentTemplate>
                <span>Item 1</span>
            </ContentTemplate>
        </VilmaNavLinkItem>
        <VilmaNavLinkItem>
            <ContentTemplate>
                <span>Item 2</span>
            </ContentTemplate>
        </VilmaNavLinkItem>
        <VilmaNavLinkItem>
            <ContentTemplate>
                <span>Item 3</span>
            </ContentTemplate>
        </VilmaNavLinkItem>
    </NavItems>
</VilmaNavControl>

<VilmaNavControl ControlCss="mt-4" ItemsAlignement="NavAlignement.Center">
    <NavItems>
        <VilmaNavLinkItem Active="true">
            <ContentTemplate>
                <span>Item 1</span>
            </ContentTemplate>
        </VilmaNavLinkItem>
        <VilmaNavLinkItem>
            <ContentTemplate>
                <span>Item 2</span>
            </ContentTemplate>
        </VilmaNavLinkItem>
        <VilmaNavLinkItem>
            <ContentTemplate>
                <span>Item 3</span>
            </ContentTemplate>
        </VilmaNavLinkItem>
    </NavItems>
</VilmaNavControl>

<VilmaNavControl ControlCss="mt-4" ItemsAlignement="NavAlignement.Right">
    <NavItems>
        <VilmaNavLinkItem Active="true">
            <ContentTemplate>
                <span>Item 1</span>
            </ContentTemplate>
        </VilmaNavLinkItem>
        <VilmaNavLinkItem>
            <ContentTemplate>
                <span>Item 2</span>
            </ContentTemplate>
        </VilmaNavLinkItem>
        <VilmaNavLinkItem>
            <ContentTemplate>
                <span>Item 3</span>
            </ContentTemplate>
        </VilmaNavLinkItem>
    </NavItems>
</VilmaNavControl>

<VilmaNavControl ControlCss="mt-4" RenderVertically="true">
    <NavItems>
        <VilmaNavLinkItem Active="true">
            <ContentTemplate>
                <span>Item 1</span>
            </ContentTemplate>
        </VilmaNavLinkItem>
        <VilmaNavLinkItem>
            <ContentTemplate>
                <span>Item 2</span>
            </ContentTemplate>
        </VilmaNavLinkItem>
        <VilmaNavLinkItem>
            <ContentTemplate>
                <span>Item 3</span>
            </ContentTemplate>
        </VilmaNavLinkItem>
    </NavItems>
</VilmaNavControl>

<VilmaNavControl ControlCss="mt-4" RenderVertically="true" ItemsAlignement="NavAlignement.Center">
    <NavItems>
        <VilmaNavLinkItem Active="true">
            <ContentTemplate>
                <span>Item 1</span>
            </ContentTemplate>
        </VilmaNavLinkItem>
        <VilmaNavLinkItem>
            <ContentTemplate>
                <span>Item 2</span>
            </ContentTemplate>
        </VilmaNavLinkItem>
        <VilmaNavLinkItem>
            <ContentTemplate>
                <span>Item 3</span>
            </ContentTemplate>
        </VilmaNavLinkItem>
    </NavItems>
</VilmaNavControl>

<VilmaNavControl ControlCss="mt-4" RenderVertically="true" ItemsAlignement="NavAlignement.Right">
    <NavItems>
        <VilmaNavLinkItem Active="true">
            <ContentTemplate>
                <span>Item 1</span>
            </ContentTemplate>
        </VilmaNavLinkItem>
        <VilmaNavLinkItem>
            <ContentTemplate>
                <span>Item 2</span>
            </ContentTemplate>
        </VilmaNavLinkItem>
        <VilmaNavLinkItem>
            <ContentTemplate>
                <span>Item 3</span>
            </ContentTemplate>
        </VilmaNavLinkItem>
    </NavItems>
</VilmaNavControl>

<VilmaNavControl ControlCss="mt-4" Style="NavStyles.Pill">
    <NavItems>
        <VilmaNavLinkItem Active="true">
            <ContentTemplate>
                <span>Item 1</span>
            </ContentTemplate>
        </VilmaNavLinkItem>
        <VilmaNavLinkItem>
            <ContentTemplate>
                <span>Item 2</span>
            </ContentTemplate>
        </VilmaNavLinkItem>
        <VilmaNavLinkItem>
            <ContentTemplate>
                <span>Item 3</span>
            </ContentTemplate>
        </VilmaNavLinkItem>
    </NavItems>
</VilmaNavControl>

<VilmaNavControl ControlCss="mt-4" Style="NavStyles.Pill" ItemsAlignement="NavAlignement.Center">
    <NavItems>
        <VilmaNavLinkItem Active="true">
            <ContentTemplate>
                <span>Item 1</span>
            </ContentTemplate>
        </VilmaNavLinkItem>
        <VilmaNavLinkItem>
            <ContentTemplate>
                <span>Item 2</span>
            </ContentTemplate>
        </VilmaNavLinkItem>
        <VilmaNavLinkItem>
            <ContentTemplate>
                <span>Item 3</span>
            </ContentTemplate>
        </VilmaNavLinkItem>
    </NavItems>
</VilmaNavControl>

<VilmaNavControl ControlCss="mt-4" Style="NavStyles.Underline" ItemsAlignement="NavAlignement.Right">
    <NavItems>
        <VilmaNavLinkItem Active="true">
            <ContentTemplate>
                <span>Item 1</span>
            </ContentTemplate>
        </VilmaNavLinkItem>
        <VilmaNavLinkItem>
            <ContentTemplate>
                <span>Item 2</span>
            </ContentTemplate>
        </VilmaNavLinkItem>
        <VilmaNavLinkItem>
            <ContentTemplate>
                <span>Item 3</span>
            </ContentTemplate>
        </VilmaNavLinkItem>
    </NavItems>
</VilmaNavControl>

<VilmaNavControl ControlCss="mt-4 col-4" Style="NavStyles.Pill" ItemsFilling="NavFilling.Fill">
    <NavItems>
        <VilmaNavLinkItem Active="true">
            <ContentTemplate>
                <span>Item 1</span>
            </ContentTemplate>
        </VilmaNavLinkItem>
        <VilmaNavLinkItem>
            <ContentTemplate>
                <span>Long text item</span>
            </ContentTemplate>
        </VilmaNavLinkItem>
        <VilmaNavLinkItem>
            <ContentTemplate>
                <span>Item 3</span>
            </ContentTemplate>
        </VilmaNavLinkItem>
    </NavItems>
</VilmaNavControl>

<VilmaNavControl ControlCss="mt-4 col-4" Style="NavStyles.Pill" ItemsFilling="NavFilling.FillJustify">
    <NavItems>
        <VilmaNavLinkItem Active="true">
            <ContentTemplate>
                <span>Item 1</span>
            </ContentTemplate>
        </VilmaNavLinkItem>
        <VilmaNavLinkItem>
            <ContentTemplate>
                <span>Long text item</span>
            </ContentTemplate>
        </VilmaNavLinkItem>
        <VilmaNavLinkItem>
            <ContentTemplate>
                <span>Item 3</span>
            </ContentTemplate>
        </VilmaNavLinkItem>
    </NavItems>
</VilmaNavControl>

<VilmaNavControl ControlCss="mt-4 col-4" Style="NavStyles.Pill" ItemsFilling="NavFilling.Fill">
    <NavItems>
        <VilmaNavLinkItem Active="true">
            <ContentTemplate>
                <span>Item 1</span>
            </ContentTemplate>
        </VilmaNavLinkItem>
        <VilmaNavLinkItem>
            <ContentTemplate>
                <span>Long text item</span>
            </ContentTemplate>
        </VilmaNavLinkItem>
        <VilmaNavLinkItem>
            <ContentTemplate>
                <span>Item 3</span>
            </ContentTemplate>
        </VilmaNavLinkItem>
    </NavItems>
</VilmaNavControl>

<VilmaNavControl ControlCss="mt-4 col-4" Style="NavStyles.Pill" ItemsFilling="NavFilling.FillJustify">
    <NavItems>
        <VilmaNavLinkItem Active="true">
            <ContentTemplate>
                <span>Item 1</span>
            </ContentTemplate>
        </VilmaNavLinkItem>
        <VilmaNavLinkItem>
            <ContentTemplate>
                <span>Long text item</span>
            </ContentTemplate>
        </VilmaNavLinkItem>
        <VilmaNavLinkItem>
            <ContentTemplate>
                <span>Item 3</span>
            </ContentTemplate>
        </VilmaNavLinkItem>
    </NavItems>
</VilmaNavControl>

<VilmaNavControl ControlCss="mt-4">
    <NavItems>
        <VilmaNavLinkItem Active="true">
            <ContentTemplate>
                <span>Item 1</span>
            </ContentTemplate>
        </VilmaNavLinkItem>
        <VilmaNavDropdownItem Text="Dropdown">
            <Items>
                <VilmaDropdownLink Href="#" Text="Item 1" />
                <VilmaDropdownLink Href="#" Text="Item 2" />
                <VilmaDropdownDivider />
                <VilmaDropdownLink Href="#" Text="Disabled" Disabled="true" />
                <VilmaDropdownLink Href="#" Text="Item 4" />
            </Items>
        </VilmaNavDropdownItem>
        <VilmaNavLinkItem>
            <ContentTemplate>
                <span>Item 3</span>
            </ContentTemplate>
        </VilmaNavLinkItem>
    </NavItems>
</VilmaNavControl>

<VilmaNavControl ControlCss="mt-4" Style="NavStyles.Pill">
    <NavItems>
        <VilmaNavLinkItem Active="true">
            <ContentTemplate>
                <span>Item 1</span>
            </ContentTemplate>
        </VilmaNavLinkItem>
        <VilmaNavDropdownItem Text="Dropdown">
            <Items>
                <VilmaDropdownLink Href="#" Text="Item 1" />
                <VilmaDropdownLink Href="#" Text="Item 2" />
                <VilmaDropdownDivider />
                <VilmaDropdownLink Href="#" Text="Disabled" Disabled="true" />
                <VilmaDropdownLink Href="#" Text="Item 4" />
            </Items>
        </VilmaNavDropdownItem>
        <VilmaNavLinkItem>
            <ContentTemplate>
                <span>Item 3</span>
            </ContentTemplate>
        </VilmaNavLinkItem>
    </NavItems>
</VilmaNavControl>

<VilmaNavControl ControlCss="mt-4">
    <NavItems>
        <VilmaNavLinkItem Active="true">
            <ContentTemplate>
                <span>Item 1</span>
            </ContentTemplate>
        </VilmaNavLinkItem>
        <VilmaNavDropdownItem Text="Dropdown">
            <ButtonTemplate>
                <div class="hstack gap-3 border border-danger border-3 rounded px-4 py-1 shadow">
                    <VilmaIcon Icon="Icons.DropletFill" IconWidth="28" IconHeight="28" ColorScheme="ColorScheme.Primary" />
                    <p class="m-0"><strong>Custom button</strong></p>
                </div>
            </ButtonTemplate>
            <Items>
                <VilmaDropdownLink Href="#" Text="Item 1" />
                <VilmaDropdownLink Href="#" Text="Item 2" />
                <VilmaDropdownDivider />
                <VilmaDropdownLink Href="#" Text="Disabled" Disabled="true" />
                <VilmaDropdownLink Href="#" Text="Item 4" />
            </Items>
        </VilmaNavDropdownItem>
        <VilmaNavLinkItem>
            <ContentTemplate>
                <span>Item 3</span>
            </ContentTemplate>
        </VilmaNavLinkItem>
    </NavItems>
</VilmaNavControl>

<VilmaNavControl ControlCss="mt-4" RenderVertically="true">
    <NavItems>
        <VilmaNavLinkItem Active="true">
            <ContentTemplate>
                <span>Item 1</span>
            </ContentTemplate>
        </VilmaNavLinkItem>
        <VilmaNavDropdownItem Text="Dropdown">
            <Items>
                <VilmaDropdownLink Href="#" Text="Item 1" />
                <VilmaDropdownLink Href="#" Text="Item 2" />
                <VilmaDropdownDivider />
                <VilmaDropdownLink Href="#" Text="Disabled" Disabled="true" />
                <VilmaDropdownLink Href="#" Text="Item 4" />
            </Items>
        </VilmaNavDropdownItem>
        <VilmaNavLinkItem>
            <ContentTemplate>
                <span>Item 3</span>
            </ContentTemplate>
        </VilmaNavLinkItem>
    </NavItems>
</VilmaNavControl>

<VilmaNavControl ControlCss="mt-4" RenderVertically="true">
    <NavItems>
        <VilmaNavLinkItem Active="true">
            <ContentTemplate>
                <span>Item 1</span>
            </ContentTemplate>
        </VilmaNavLinkItem>
        <VilmaNavDropdownItem Text="Dropdown">
            <ButtonTemplate>
                <div class="hstack gap-3 border border-danger border-3 rounded px-4 py-1 shadow">
                    <VilmaIcon Icon="Icons.DropletFill" IconWidth="28" IconHeight="28" ColorScheme="ColorScheme.Primary" />
                    <p class="m-0"><strong>Custom button</strong></p>
                </div>
            </ButtonTemplate>
            <Items>
                <VilmaDropdownLink Href="#" Text="Item 1" />
                <VilmaDropdownLink Href="#" Text="Item 2" />
                <VilmaDropdownDivider />
                <VilmaDropdownLink Href="#" Text="Disabled" Disabled="true" />
                <VilmaDropdownLink Href="#" Text="Item 4" />
            </Items>
        </VilmaNavDropdownItem>
        <VilmaNavLinkItem>
            <ContentTemplate>
                <span>Item 3</span>
            </ContentTemplate>
        </VilmaNavLinkItem>
    </NavItems>
</VilmaNavControl>

@code {

}
