<div @attributes="@_attributes">
    @ItemTemplate
</div>

@code {
    /// <summary>
    /// Gets or sets the item content as a HTML or Blazor markup.
    /// </summary>
    [Parameter] public RenderFragment ItemTemplate { get; set; } = @<p>&nbsp;</p>;

    /// <summary>
    /// Gets or sets the item css classes.
    /// </summary>
    [Parameter] public string? CssClasses { get; set; }

    private Dictionary<string, object> _attributes = new Dictionary<string, object>();

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        _attributes.Clear();

        if (CssClasses != null)
            _attributes.Add("class", CssClasses);
    }
}
